/*-------------------------*\
  #RESET
\*-------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------*\
  #MAIN
\*-------------------------*/

body {  
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  padding: 2%;
  color: #000;
  /*height: 100vh;*/
  margin-top: 10rem;
}

main{
  background-color: #16DB93;
  flex-wrap: wrap;
}

main div{
  margin-top: 20px;
  flex: 1 0 40%;
}

main div#camera{
  flex: 1 0 10%;
}

section iframe{
  float: right;
  margin-top: -14rem;
}

section {
  padding: 2%;
}

section img + p{
  padding: 10px;
  width: 13.1rem;
  background-color: #16DB93;
}

h1 {
  font-size: 5em;
  font-weight: 600;
}

h1 + p {
  font-style: italic;
}

p + ol {
  font-style: italic;
  line-height: 2;
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
}

a {
  color: #FF611A;
}

figcaption {
  font-weight: 600;
  margin-top:5px;
  margin-left: 20px;
}

.challenge h1 {
  font-size: 35px;
}

.challenge p{
  font-size: 50px;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
  animation-iteration-count: 3;
  animation-name: smallBig;
  margin-top: 1.5em;
}

@keyframes smallBig {
  0% {
    font-size: 100%;
  }

  50% {
    font-size: 150%;
  }

  100% {
    font-size: 100%;
  }
}

#btn{
  height: 25px;
}

#video {
  border: 1px solid black;
  width:320px;
  height:240px;
}

#photo {
  border: 1px solid black;
  width:320px;
  height:240px;
}

#photo-2 {
  border: 1px solid black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}

#camera {
  display:inline-block;
}

#output {
  width: 100vw;
  display: flex;
}

#output img {
  margin-left: 20px;
}

#startbutton {
  display:block;
  position:relative;
  margin-left: 8em;
  bottom:32px;
  background-color: #00995F;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}
